/* ion-content: Fondo beige, centra el contenido horizontal y verticalmente */
ion-content {
  --background: #f4f2d3;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

/* .content-container: Contenedor principal, centra el contenido, fondo beige claro */
.content-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 32px;
  gap: 16px;
  height: 100vh;
  background-color: #f5f5dc;
  color: #000000;
}

/* .login-title: Estilos del título */
.login-title {
  color: #000000;
  font-size: 24px;
  margin-bottom: 20px;
}

/* .button-container: Contenedor de los botones, centra los botones horizontalmente */
.button-container {
  margin-top: 20px;
  width: 100%;
  display: flex;
  justify-content: center;
  max-width: 400px;
}

/* ion-button: Estilos para los botones */
ion-button {
  --background: #8640e7; /* Color de fondo morado, mucho más bonito jejeje */
  --color: #ffffff;
  width: 100%;
}

/* .input-container: Contenedor de los inputs, espacio entre los inputs */
.input-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 15px;
  max-width: 400px;
}

/* ion-item::part(native): Fondo transparente, color del texto */
ion-item::part(native) {
  background-color: transparent;
  color: #000000;
}

/* ion-input: Color del placeholder y del texto en los inputs */
ion-input {
  --placeholder-color: #5270a3;
  color: #000000;
  margin-bottom: 15px;
}