<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Menú</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="verCarrito()">
        <ion-icon name="cart"></ion-icon>
      </ion-button>
      <ion-button (click)="openMenu()">
        <ion-icon name="menu"></ion-icon>
      </ion-button>
      <ion-button (click)="navigateToLogin()">
        <ion-icon name="exit"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-menu side="end" contentId="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-title>Búsqueda de Productos</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-searchbar 
      [(ngModel)]="busqueda"
      (ionInput)="buscarPedidos()"
      placeholder="Buscar productos..."
      animated
      debounce="500">
    </ion-searchbar>
    
    <ion-list>
      <ion-item *ngFor="let pedido of resultadosBusqueda">
        <ion-thumbnail slot="start">
          <img [src]="pedido.strMealThumb" alt="{{ pedido.strMeal }}">
        </ion-thumbnail>
        <ion-label>
          <h2>{{ pedido.strMeal }}</h2>
          <p>{{ pedido.strCategory }}</p>
        </ion-label>
        <ion-button slot="end" (click)="addProductToFirestore(pedido)">
          Añadir
        </ion-button>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-menu>

<div class="ion-page" id="main-content" [attr.inert]="mostrarCarrito ? '' : null">
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>El Comilón</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <!-- Carrito de compras -->
    <div *ngIf="mostrarCarrito" class="carrito" role="dialog" aria-modal="true">
      <ion-card>
        <ion-card-header>
          <ion-card-title>Carrito</ion-card-title>
        </ion-card-header>
        <ion-list>
          <ion-item *ngFor="let item of carrito">
            <ion-thumbnail slot="start">
              <img [src]="item.imagen" [alt]="item.nombre">
            </ion-thumbnail>
            <ion-label>
              <h2>{{ item.nombre }}</h2>
              <p>{{ item.precio | currency:'CLP':'symbol-narrow':'.0-0' }}</p>
            </ion-label>
            <ion-button slot="end" (click)="eliminarDelCarrito(item)" color="danger">
              <ion-icon name="trash"></ion-icon>
            </ion-button>
          </ion-item>
        </ion-list>
        <ion-button expand="full" (click)="realizarPedido()">
          Realizar Pedido
        </ion-button>
        <ion-button expand="full" color="danger" (click)="cerrarCarrito()">
          Cerrar Carrito
        </ion-button>
      </ion-card>
    </div>

    <div class="food-container">
      <div class="food-item" *ngFor="let producto of productos">
        <img [src]="producto.imagen" [alt]="producto.nombre" class="food-img">
        <h3>{{producto.nombre}}</h3>
        <p>{{producto.precio | currency:'CLP':'symbol-narrow':'.0-0'}}</p>
        <ion-button expand="block" (click)="agregarAlCarrito(producto)">
          <ion-icon name="cart"></ion-icon>
          Agregar
        </ion-button>
      </div>
    </div>

    <div class="food-container">
      <div class="food-item">
        <img src="assets/imagenes/pizza.png" alt="Pizza" class="food-img">
        <h3>Pizza Familiar</h3>
        <p>$5800</p>
      </div>
      <div class="food-item">
        <img src="assets/imagenes/hotdog.png" alt="Hotdog" class="food-img">
        <h3>Hotdog Especial</h3>
        <p>$2900</p>
      </div>
      <div class="food-item">
        <img src="assets/imagenes/ensalada.png" alt="Ensalada" class="food-img">
        <h3>Ensalada Mixta</h3>
        <p>$3000</p>
      </div>
    </div>
  </ion-content>
</div>

